@tailwind base;
@tailwind components;
@tailwind utilities;

/* My Styles */
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

/* Tailwind Styles */
@layer base {
  body {
    @apply overflow-x-hidden;
    @apply scroll-bar-style;
    @apply bg-dark w-full h-full;
  }
  /*
  (!) always coordinate with basicData / colors
  --color-darkTint: #1a1c25;
  */
  :root {
    --color-dark: #01030d;
    --color-darkTint: #212a3e;
    --color-light: #f1f5f9;
    --color-lightDark: #c0c4c7;
    --color-corpo: #38bdf8;
  }
}

@layer utilities {
  .boxLabel > div {
    /*test class for 3D box*/
    @apply text-center select-none;
  }
  .glow {
    box-shadow: 0 0 5px #e74124, 0 0 25px #e74124, 0 0 50px #e74124, 0 0 100px;
  }
  .fc {
    @apply flex justify-center items-center;
  }
  .no-sparkling {
    -webkit-tap-highlight-color: transparent;
  }
  .disable {
    @apply select-none no-sparkling;
  }
  .wrapper-1 {
    @apply px-[6%] md:px-[80px] xl:px-[100px] xxl:px-[140px];
  }

  /*Text Styles*/
  .word-spacing-01 {
    word-spacing: 0.01rem;
  }
  .word-spacing-0125 {
    word-spacing: 0.125rem;
  }
  .word-spacing-025 {
    word-spacing: 0.25rem;
  }
  .p-label {
    @apply text-[0.625rem] lg:text-[0.75rem] xxxl:text-[0.825rem] tracking-[0.125rem] uppercase word-spacing-0125 lg:word-spacing-025;
  }
  .p-v-small {
    @apply text-[0.5rem] xxl:text-[0.625rem] xxxl:text-[0.75rem] tracking-[1px] lg:tracking-[0.125rem] word-spacing-01 lg:word-spacing-0125;
  }
  .p-small {
    @apply text-[0.625rem] xxl:text-[0.75rem] xxxl:text-[0.825rem] tracking-[1px] lg:tracking-[0.125rem] word-spacing-01 lg:word-spacing-0125;
  }
  .p-regular {
    @apply text-[0.75rem]  lg:text-[1rem] tracking-[2px] leading-tight;
  }
  .p-medium {
    @apply text-[1rem] xs3xx:text-[1.25rem] xs:text-[1.5rem] md:text-[1.75rem] xxl:text-[2.25rem] tracking-[2px] leading-tight;
  }
  .p-v-large {
    @apply text-[3.25rem] xs3xx:text-[4.25rem] xs:text-[4.5rem] md:text-[4.75rem] xxl:text-[6.25rem] tracking-[2px] leading-tight;
  }
  .p-u-large {
    @apply text-[5rem] xs3xx:text-[6rem] xs:text-[7.5rem] md:text-[7.5rem] xxl:text-[7.5rem] tracking-[2px] leading-[1];
  }

  /*Scrollbar style*/
  .scroll-bar-style {
    /* IE and Edge */
    -ms-overflow-style: thin;
    /* Firefox */
    scrollbar-width: thin;
  }

  /*Scrollbar style for: Chrome, Safari and Opera */
  .scroll-bar-style::-webkit-scrollbar {
    width: 6px;
    background-color: var(--color-darkTint);
  }

  .scroll-bar-style::-webkit-scrollbar-thumb {
    background-color: var(--color-corpo);
  }
  .scroll-bar-style::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-light);
  }
}
